body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#game{
    font-size: 4rem;
    color: red;
}
button{
    background-color: blue;
    color:white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border:none;
}
button:hover{
    background-color: green;
    cursor: pointer;
}